#Para que o projeto funcione na íntegra, crie um arquivo exatamente com o nome ".env" na root e insira as seguintes variáveis de ambiente:

# Token Hugging Face (do tipo 'Read').
HF_TOKEN = seu_token_aqui

# Modelo Hugging Face para geração de background e interação com NPCs
MODEL = Qwen/Qwen2.5-7B-Instruct #durante a criação, utilizamos (e recomendamos) apenas este modelo do Qwen. Porém, testes serão feitos com modelos Uncensored e Abliterated